In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
os.chdir('C:\\Users\\rwadhwa31\\OneDrive - Georgia Institute of Technology\\Fall 2021\\DACEE - 8813\\Final Project')

In [3]:
climate_df = pd.read_excel('work.xlsx','Climate-Final(1964-2012)',parse_dates = {'timedate': ['YEAR','MONTH']}, index_col='timedate')
climate_df.tail(25)

,SHRP_ID,VWS_ID,TOTAL_MON_PRECIP,TOTAL_SNOWFALL_MONTH,INTENSE_PRECIP_DAYS_MONTH,WET_DAYS_MONTH,NUM_MON_PRECIP_DAYS
timedate,,,,,,,
2010-12-01,C350,471023,114.699997,5.0,2,15,31
2011-01-01,C350,471023,106.699997,13.0,3,14,31
2011-02-01,C350,471023,89.699997,0.0,2,14,28
2011-03-01,C350,471023,232.699997,NaN,5,18,31
2011-04-01,C350,471023,206.600006,NaN,4,14,30
2011-05-01,C350,471023,108.599998,NaN,3,15,31
2011-06-01,C350,471023,149.100006,NaN,4,11,30
2011-07-01,C350,471023,162.300003,NaN,5,16,31
2011-08-01,C350,471023,63.299999,NaN,2,10,31
2011-09-01,C350,471023,288.100006,NaN,4,15,30
2011-10-01,C350,471023,127.400002,NaN,2,9,31
2011-11-01,C350,471023,245.100006,NaN,8,10,30
2011-12-01,C350,471023,130.100006,NaN,4,10,31
2012-01-01,C350,471023,160.500000,0.0,5,18,31
2012-02-01,C350,471023,100.699997,3.0,2,16,29
2012-03-01,C350,471023,169.800003,0.0,6,12,31
2012-04-01,C350,471023,99.800003,NaN,2,11,30
2012-05-01,C350,471023,97.099998,0.0,3,10,31
2012-06-01,C350,471023,32.599998,0.0,0,6,30
2012-07-01,C350,471023,193.199997,NaN,3,17,31
2012-08-01,C350,471023,50.299999,NaN,1,9,31
2012-09-01,C350,471023,217.899994,NaN,3,8,30
2012-10-01,C350,471023,56.200001,NaN,1,15,31
2012-11-01,C350,471023,27.100000,NaN,0,5,30
2012-12-01,C350,471023,156.100006,0.0,4,15,31

In [7]:
new_col = climate_df['INTENSE_PRECIP_DAYS_MONTH'].resample('M').sum()
new_col = pd.DataFrame(new_col)
new_col
# climate_df.merge(new_col)

            INTENSE_PRECIP_DAYS_MONTH
timedate
1964-01-31                         22
1964-02-29                         22
1964-03-31                         43
1964-04-30                         55
1964-05-31                         22
...                               ...
2017-08-31                         11
2017-09-30                          7
2017-10-31                         11
2017-11-30                          7
2017-12-31                         11

[648 rows x 1 columns]

In [8]:
def open_dataframe_name):
    name_df = pd.read_excel('work.xlsx',name)
    return name_df

In [ ]:
def grab_decade(start_yr, y_c_data, interval=10):
    '''Return years and counts for only a specific interval length.'''
    end_yr = int(start_yr) + interval - 1
    years = y_c_data[(y_c_data['YEAR'] <= end_yr) & (y_c_data['YEAR'] >= start_yr)]
    return years

In [ ]:
# START RESAMPLING

# climate_df['Intense_precip_days'] = climate_df['INTENSE_PRECIP_DAYS_MONTH'].resample('Y').sum()
climate_df2 = climate_df.resample('Y').mean()
climate_df2

In [ ]:
transverse_rutt_df = pd.read_excel('work.xlsx','Performance-Transverse (Rutt)', index_col='SURVEY_DATE', parse_dates = True)
tvrs_df = transverse_rutt_df.drop(['STATE_CODE', 'STATE_CODE_EXP','NO_PROFILES','T_PROF_DEVICE_CODE_EXP','SHRP_ID'], axis =1)    
tvrs_df

In [ ]:
plt.plot(tvrs_df['MAX_MEAN_DEPTH_1_8'])
plt.legend(tvrs_df)

In [ ]:
transverse_rutt_df = pd.read_excel('work.xlsx','Performance-Transverse (Rutt)', index_col='SURVEY_DATE', parse_dates = True)
tvrs_df = transverse_rutt_df.drop(['STATE_CODE', 'STATE_CODE_EXP','NO_PROFILES'], axis =1)    
tvrs_df2 = tvrs_df.resample('Y').mean()
tvrs_df3 = tvrs_df2.rolling(5).mean()
tvrs_df3

In [ ]:
plt.figure(figsize=(19,10))
plt.plot(tvrs_df3[['MAX_MEAN_DEPTH_1_8','MAX_MEAN_DEPTH_WIRE_REF']])
plt.legend(tvrs_df3)

In [ ]:

# climate_df2.to_excel('Climate Yearly sampled.xlsx')
# tvrs_df2.to_excel('Transverse sampled.xlsx')

In [ ]:

climate_df2['rolling_int_precip'] = climate_df2['INTENSE_PRECIP_DAYS_MONTH'].rolling(5).mean()
climate_df2.plot(y=['rolling_int_precip'], use_index=True)
# fig,ax=plt.subplots()

In [ ]:
# climate_df3 = climate_df2['INTENSE_PRECIP_DAYS_MONTH']
# analysis1 = [iri_df2,climate_df3]
# res_analysis1 = pd.concat(analysis1)

tvrs_df3['Intense_precipitation'] = climate_df2['rolling_int_precip']
# iri_df2['Total_Precipitation'] = climate_df2['TOTAL_MON_PRECIP']
# res_analysis1

plt.figure(figsize=(19,10))
plt.plot(tvrs_df3[['Intense_precipitation','MAX_MEAN_DEPTH_1_8','MAX_MEAN_DEPTH_WIRE_REF']])
plt.legend(tvrs_df3)
plt.title("Intense_Precip and Tvrs-Rutting values")
plt.xlabel('Years')
plt.ylabel('Precip in days | Rutting measure')
plt.savefig("raw intense precip and Tvrs-Rutt", dpi=100)

In [ ]:
climate_df2.to_excel('Climate Yearly sampled.xlsx')
tvrs_df2.to_excel('TVRS-Rutt Yearly sampled.xlsx')

In [ ]:
# Finding Correlation Using Pearson Co-relation method
tvrs_df3_corr = tvrs_df3.corr()
tvrs_df3_corr2 = tvrs_df3_corr.style.background_gradient(cmap='Spectral')
tvrs_df3_corr2
# iri_df2_corr.to_excel('Correlation between IRI and Intense Precip')

In [ ]:
# df1.plot(x="YEAR", y="YEARLY",kind = 'area', figsize=(19,10))
# plt.title("Yearly Intense precipitation of a region of Chattanooga - Rolling Mean")
# plt.xlabel('Years')
# plt.ylabel('Precipitation')
# plt.savefig("Intense precipitation", dpi=100)
# plt.show()

In [ ]:
# Compiling but Not working functions 

# def columns_plot(df1, df2, x_ax, y_ax):
#     columns = (df1[x_ax], df2[y_ax])
#     to_plot_df = pd.concat(columns,ignore_index=True)
#     #plot = plt.plot(to_plot_df)
#     return to_plot_df